
.CMS {
    position: fixed;
    padding-top: 62px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.master {
    background-color: #3e3f3a;
    height: calc(100vh - 50px);
    background-image: url('./trianglify.svg');
    background-size: cover;
}

.menuItem {
    padding: 10px 0;
}

.scrollContainer {
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 62px;
    height: calc(100% - 62px);
}

.leftCol {
    min-height: 1000px;
    padding-bottom: 100px;
    background-color: #efefef;
}


